{% extends '@IhadisCore/layout.html.twig' %}

{% block title %} {{ parent() }} - {{ book.title }} | {{ chapter.title }} {% endblock %}

{% block content %}

    {% include '@IhadisCore/Default/_secondaryNav.html.twig' %}

    <div class="section-container">
    {% for section in sections %}

        {% include '@IhadisCore/Default/_sectionHeader.html.twig' with {'section': section} %}

        {% for hadith in section.hadiths %}

            {% include '@IhadisCore/Default/_hadith.html.twig' with {'hadith': hadith} %}

        {% endfor %}

    {% endfor %}
    </div>

{% endblock %}