<div class="col-md-3 test">
    <div class="side-header" style="background-color: #fff;height: 59px;padding: 0px 0px;">
        <div class="select-area pull-left">All books</div>
        <div class="select-box2 pull-right">
            <select name="category" id="category" class="book-category2">
                <option value="all">সহিহ বুখারি</option>
                <option value="all">সহিহ মুসলিম</option>
                <option value="all">মিশকাত</option>
                <option value="all">আবু দাউদ</option>
                <option value="all">সহিহ বুখারি</option>
                <option value="all">সহিহ মুসলিম</option>
            </select>
        </div>
    </div>
</div>

<div class="col-md-3 fl test2">
    <ul class=tabs>

        <li>
            <input type=radio name=tabs id=tab2 checked>
            <label for=tab1>Hadis Books</label>
            <div id=tab-content2 class=tab-content>
                <div style="width: auto;height: 200px;">
                    <div class="goto">
                        <h3>নির্দিষ্ট হাদিসে যান</h3>
                        <select class="selectpicker" data-size="7">
                            <option>সহিহ বুখারি</option>
                            <option>সহিহ মুসলিম</option>
                            <option>সুনানে আবু দাউদ</option>
                            <option>সুনানে নাসাঈ</option>
                            <option>জাল হাদিস সিরিজ</option>
                            <option>সহিহ বুখারি</option>
                            <option>সহিহ মুসলিম</option>
                            <option>সহিহ বুখারি</option>
                            <option>সহিহ মুসলিম</option>
                            <option>সুনানে আবু দাউদ</option>
                            <option>সুনানে নাসাঈ</option>
                            <option>জাল হাদিস সিরিজ</option>
                            <option>সহিহ বুখারি</option>
                            <option>সহিহ মুসলিম</option>
                        </select>

                        <div class="hadith_go">
                            <input name="goto_hadith" type="tel" class="text-search" maxlength="4" placeholder="Hadith no.">
                        </div>
                        <input name="" type="submit" class="button" value="Go">
                    </div>
                </div>
            </div><!--tab 1 end-->
        </li>

        <li>
            <input type=radio name=tabs id=tab1 checked>
            <label for=tab2>Go to a Hadith</label>
            <div id=tab-content1 class=tab-content>

                <div id="ps-box">
                    <div class='content'>
                        <div class="book-lists">
                            <div class="list-group">
                                <a href="#" class="list-group-item active">সহিহ বুখারি</a>
                                <a href="#" class="list-group-item">সহিহ মুসলিম</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                                <a href="#" class="list-group-item">সুনানে নাসাঈ</a>
                                <a href="#" class="list-group-item">মিশকাতুল মাসাবিহ</a>
                                <a href="#" class="list-group-item">জাল হাদিস সিরিজ</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                                <a href="#" class="list-group-item">সহিহ মুসলিম</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                                <a href="#" class="list-group-item">সহিহ মুসলিম</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                                <a href="#" class="list-group-item">সহিহ মুসলিম</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                                <a href="#" class="list-group-item">সহিহ মুসলিম</a>
                                <a href="#" class="list-group-item">সুনানে আবু দাউদ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>