body {
    padding-top: 40px;
}

.center {
    border: 0;
    margin: -40px auto 0;
}

#home {
    padding: 55px 30px 15px;

    /*For sticky footer*/
    min-height: 100%;
    margin-bottom: -100px;
}

#home:after {
    content: "";
    display: block;
    height: 100px;
}

#home-logo img {
    display: block;
    padding: 30px 0 10px;
    margin: 0 auto;
}

#q {
    display: block;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    line-height: 24px;
    border: 1px solid lightsteelblue;
    margin: 20px auto;
    padding: 10px 45px 10px 10px;
    font-size: 18px;
    text-shadow: 0px 0px 2px #ccc;
    color: #666;
    background: transparent url(../images/magnify.png) no-repeat scroll 360px center;
}

#booklist {
    font-size: 16px;
    color: #82969A;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 15px;
}

#booklist h2 {
    color: #82969A;
    font-weight: bold;
    margin-bottom: 18px;
}

#all-books {
    margin: 0 auto;
}

#all-books li ul {
    padding: 10px;
    /*width: 540px;*/
    margin: 30px auto 15px;
}

/*First li is slider page and next li is book item*/

#all-books li li {
    display: inline-block;
    width: 130px;
    height: 175px;
    line-height: normal;
    margin: 0 15px 40px 15px;
    vertical-align: top;
}

#all-books li li img {
    box-shadow: 0 0 11px 1px #A29A9A;
    width: 102px;
    height: 133px;
}

#all-books li li .book-name {
    font-size: 15px;
    color: #82969A;
    display: block;
    margin-top: 6px;
}

#all-books li li .cover-intro {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#all-books li li a {
    text-decoration: none;
}

ul.bjqs-controls.v-centered li a {
    font-size: 80px;;
    line-height: 80px;
    text-decoration: none;
    opacity: .4;
}

ul.bjqs-controls.v-centered li a:hover {
    opacity: 1;
}