@media print {

    * {
        border: none !important;
        background-color: #fff;
    }

    .fl, .fr {
        float: none;
    }

    .top, .left-panel, .utility-toolbar, .section-panel, .other-nav, a.share, .remaining-chapter, .surah-number, .surah-top2 {
        display: none;
    }

    .right-panel {
        display: block;
        width: 100%;
    }

    .second-nav-holder {
        position: inherit;
        padding: 10px;
        width: 100%;
    }

    .section-container {
        margin-top: 10px;
    }

    .surah {
        width: 100%;
    }

    .surah-holder-main {
        padding: 0;
    }

    .surah-bottom-panel {
        padding: 10px;
    }

    .surah-holder {
        float: none;
        width: 100%;
        padding: 0;
    }

    .authenticity, .references {
        display: block;
        text-align: left;
        width: 100%;
    }

    .references span {
        width: auto;
    }

    .print-only {
        display: block;
    }

    .int-no {
        margin: 0 10px;
        text-align: center;
    }

    .surah-no2 {
        margin: 0 10px 0 10px;
    }
}