* {
    margin: 0;
    padding: 0;
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {font-family:"../fonts/SolaimanLipi";src:url("../fonts/SolaimanLipi_29-05-06.eot?") format("eot"),url("../fonts/SolaimanLipi_29-05-06.woff") format("woff"),url("S../fonts/olaimanLipi_29-05-06.ttf") format("truetype"),url("../fonts/SolaimanLipi_29-05-06.svg#SolaimanLipi") format("svg");font-weight:normal;font-style:normal;}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000;
    background-color: whitesmoke;
}

img {
    border: 0;
}

a, a:link, a:visited {
    text-decoration: none;
    outline: 0;
    color: #798f93;
}

a:hover {
    text-decoration: underline;
}
p {
    margin: 5px 0 10px;
}
p.bn {
    font-size: 16px;
}
ul {
    list-style: none;
}
ol {
    list-style-position: inside;
}
blockquote {
    font-size: 110%;
    border-left: 3px solid #ddd;
    background-color: #f6f6f6;
    margin: 15px 15px 15px 50px;
    padding: 5px;
}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{background-color:#ffffff;border:1px solid #cccccc;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear .2s, box-shadow linear .2s;-moz-transition:border linear .2s, box-shadow linear .2s;-o-transition:border linear .2s, box-shadow linear .2s;transition:border linear .2s, box-shadow linear .2s;}textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
header, footer, section, article, aside, hgroup, nav {
    display: block;
}

.bn {
    font-family: SolaimanLipi, Nikosh2, Nikosh, NikoshBAN, Verdana, sans-serif !important;
}
.en {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}
.ar {
    font-family: KFGQPC Uthman Taha Naskh, KFGQPC Uthmanic Script HAFS, Scheherazade, Trebuchet MS, Arial, Helvetica, Tahoma, Verdana, sans-serif !important;
    direction: rtl;
    font-size: 18px;
    line-height: 1.3;
}

*:-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
    font-weight: normal;
}

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* To remove extra padding from input button... .button is the class name of the input button */

.clr {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.null {
    line-height: 0;
    font-size: 0;
}

.center {
    width: 1030px;
    margin: auto;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 3px 14px 1px #D5CECE;
    padding: 0;
    background-color: white;
}

.top {
    padding: 0 10px 0;
    border-bottom: 1px solid #eaeaea;
    position: fixed;  
    background: #FFF;  
    width: 1010px;
    top: 0;
}

.logo {
    margin: 12px 0 0;
    float: left;
}

.signup {
    float: right;
}

.signup ul {
    float: left;
    margin: 8px 0 0;
}

.signup li {
    font-size: 12px;
    display: inline;
    color: #d7ddde;
}

.signup li a, .signup li a:link, .signup li a:visited {
    color: #d7ddde;
}

nav {
    float: left;
    font-size: 12px;
    margin: 0 0 0 240px;
}

nav li {
    float: left;
    margin: 0 10px 0 0;
}

nav li a, nav li a:link, nav li a:visited {
    display: block;
    border-top: 4px solid transparent;
    padding: 10px 5px;
    color: #798f93;
}

nav li a:hover, nav li.active a {
    text-decoration: none;
    border-top: 4px solid #4a9b41;
    color: #4a9b41;
}

a.user {
    margin: 3px 0 0 15px;
    display: inline-block;
}

.main-panel {
    margin-top: 41px;
    padding: 85px 15px 30px;
}
.left-panel {
    width: 135px;
    float: left;
    background: #FCFAFA;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 1px 0 0 #f8f8f8;
    position: fixed;
    top: 41px;
}

.left-navigations {
    padding: 10px 5px 10px 15px;
    font-size: 12px;
    cursor: pointer;
}

.left-navigations:hover .nav-arrow {
    background: url(../images/arrow_open.png);
}

.nav-arrow, .nav-arrow-active, .arrow-up {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url(../images/arrow_close.png);
}

.nav-arrow:hover, .nav-arrow-active {
    background: url(../images/arrow_open.png);
}

.arrow-up {
    background: url(../images/arrow_up.png);
}

.section-container {
    margin-top: 140px;
}

.translation-panel {
    margin: 0 0 10px;
}

.translation-panel li {
    float: left;
    font-size: 12px;
}

.translation-panel li a {
    color: #cac5bf;
    display: block;
    background: #fff;
    border: 1px solid #efeded;
    border-left: none;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    width: 54px;
}

.translation-panel li a:hover, .translation-panel li.active a {
    background: #4a9b41;
    color: #fff;
    border: 1px solid #45903c;
    border-left: none;
}


.left-nav-details {
    padding: 10px 5px 10px 15px;
    font-size: 12px;
    color: #9f9f9f;
    font-family: Tahoma, Arial, sans-serif;
}

.left-nav-details li {
    margin: 0 0 10px;
    padding: 0 0 0 24px;
}

.left-nav-details li.selected {
    background: url(../images/arrow_green.png) left no-repeat;
    color: green;
    font-weight: bold;
}

.navigation {
    font-size: 16px;
    color: #9c9b9b;
    padding: 10px 5px 10px 15px;
}

.hadith-search-panel {
    background: #fff;
    font-size: 12px;
    border: 1px solid #e2e0e0;
    border-right-style: none;
}

.hadith-search {
    padding: 9px 4px 10px 14px;
}

.text-search {
    width: 84px;
    height: 22px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    margin: 20px 0 25px;
    font-size: 11px;
}

.button {
    background: #4a9b41;
    color: #fff;
    border: 1px solid #81b53a;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 6px 25px;
    cursor: pointer;
}

.right-panel {
    width: 893px;
    float: right;
}

.second-nav-holder {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 35px 15px;
    position: fixed;
    background: #fff;
    height: 80px;
    width: 822px;
    top: 39px;
}
.main-panel .second-nav-holder {
    padding: 10px 35px 5px;
    height: 70px;
    width: 930px;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    color: #272325;
}

.title-holder {
    width: 700px;
}

.title-holder span a, .title-holder span a:link, .title-holder span a:visited {
    color: #adadad;
}

.title-holder h1 {
    margin-bottom: 10px;
}

.title-holder span {
    color: darkgray;
    font-size: 14px;
}

.other-nav {
    float: right;
    font-size: 12px;
}

.other-nav li {
    margin: 0 15px 0 0;
    float: left;
}

.other-nav li a, .other-nav li a:link, .other-nav li a:visited {
    color: #5e5b5d;
}

.other-nav li {
    background: url(../images/bullet_arrow.png) right no-repeat;
    padding: 0 15px 0 0;
}

.other-nav li.search {
    background: url(../images/icon_search.png) right no-repeat;
    padding: 0 25px 0 0;
}

.other-nav li.search:hover {
    background: url(../images/icon_search.png) right no-repeat;
}

.other-nav li a, .other-nav li a:link, .other-nav li a:visited {
    padding: 7px 0;
    display: block;
}

.other-nav li a:hover {
    text-decoration: none;
    color: #4a9b41;
}

.other-nav li:hover {
    background: url(../images/bullet_arrow_up.png) right no-repeat;
}

.other-nav li.books a, .other-nav li.books-active a {
    background: url(../images/icon_books.png) left no-repeat;
    padding: 7px 0 7px 24px;
}

.other-nav li.books a:hover, .other-nav li.books-active a {
    background: url(../images/icon_books_green.png) left no-repeat;
    color: #4a9b41;
}

.other-nav li.bukhari a, .other-nav li.bukhari-active a {
    background: url(../images/icon_bukhari.png) left no-repeat;
    padding: 7px 0 7px 24px;
}

.other-nav li.bukhari a:hover, .other-nav li.bukhari-active a {
    background: url(../images/icon_bukhari_green.png) left no-repeat;
    color: #4a9b41;
}

.other-nav li.volume a, .other-nav li.volume-active a {
    background: url(../images/icon_volume.png) left no-repeat;
    padding: 7px 0 7px 24px;
}

.other-nav li.volume a:hover, .other-nav li.volume-active a {
    background: url(../images/icon_volume_green.png) left no-repeat;
    color: #4a9b41;
}

.other-nav li.books-active, .other-nav li.bukhari-active, .other-nav li.volume-active {
    background: url(../images/bullet_arrow_up.png) right no-repeat;
}

.surah-holder-main {
    border-bottom: 1px solid #eceaea;
    padding: 20px 10px;
}

.surah-holder {
    width: 425px;
}

.surah-top {
    padding: 0 0 0 55px;
    font-size: 11px;
    color: #bfbfbf;
    height: 38px;
    overflow: hidden;
}

.surah-number {
    float: left;
    background: url(../images/icon_surah.png) left no-repeat;
    padding: 0 0 0 30px;
    color: #8dc63f;
    font-size: 30px;
    margin: 0 30px 0 0;
}

.references {
    /*float: left;*/
    color: #666;
    font-family: Tahom, Arial, sans-serif;
    font-weight: normal;
    text-align: right;
}

.references p {
    margin: 3px 0;
}

.references span {
    display: inline-block;
    width: 120px;
}

.surah-bottom {
    padding: 20px 0 0;
}

.translation li a, .translation li a:link, .translation li a:visited {
    width: 32px;
    height: 24px;
    padding: 8px 0 0;
    display: block;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    font-size: 12px;
    color: #c6c6c6;
    text-align: center;
}

.translation li a.active {
    color: black;
}

.translation li:nth-last-child(1) a {
    border-bottom: 1px solid #e6e6e6;
}

.surah {
    display: none;
    line-height: 22px;
    text-align: justify;
    width: 370px;
}

.surah p {
    margin: 0 0 6px;
    color: #b6b6b6;
    text-align: left;
}

.surah p span {
    color: #4a9b41;
}

.surah-top2 {
    font-size: 13px;
    color: #bfbfbf;
    height: 38px;
    overflow: hidden;
}

.int-no {
    margin: 0 20px 0 0;
    text-align: center;
}

.surah-no2 {
    font-size: 30px;
    color: #67c69b;
    margin: 0 10px 0 24px;
}

.authenticity p {
    font-weight: normal;
    color: #666;
    margin: 0 0 4px;
}

.authenticity span {
    font-weight: bold;
    color: #666;
}

.authenticity span.sahih {
    color: #8dc63f;
}

.surah-footnote {
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
    font-size: 12px;
    padding: 20px;
    margin: 20px 55px 0;
    text-align: justify;
}

.surah-bottom-panel {
    padding: 30px 55px 0;
    font-weight: bold;
    font-size: 12px;
}

a.copy-link, a.share {
    color: #8dc63f;
    display: inline-block;
}

a.copy-link {
    background: url(../images/icon_copy.png) left no-repeat;
    padding: 0 0 0 20px;
}

a.share {
    background: url(../images/icon_share.png) right no-repeat;
    padding: 0 15px 0 0;
}

.bottom-links {
    width: 300px;
    text-align: center;
    margin: 0 0 0 90px;
}

.bottom-links a, .bottom-links a:link, .bottom-links a:visited {
    color: #b7b3ad;
    display: inline-block;
    padding: 0 22px 0 0;
    margin: 0 8px;
}

.bottom-links a:hover {
    color: #8dc63f;
}

a.footnote {
    color: #b7b3ad;
    display: inline-block;
    padding: 0 22px 0 0;
    margin: 0 8px;
    background: url(../images/icon_footnote.png) right no-repeat;
}

.bottom-links a.footnote {
    background: url(../images/icon_footnote.png) right no-repeat;
}

.bottom-links a.report {
    background: url(../images/icon_report.png) right no-repeat;
}

.bottom-links a.print {
    background: url(../images/icon_print.png) right no-repeat;
}

.bottom-links a.tags {
    background: url(../images/icon_tag.png) right no-repeat;
}

.utility-toolbar {
    margin-top: 5px;
}

.utility-toolbar li a {
    width: 32px;
    height: 24px;
    padding: 8px 0 0;
    display: block;
    border: 1px solid #e6e6e6;
    border-bottom: none;
    font-size: 12px;
    color: #c6c6c6;
    text-align: center;
}

.utility-toolbar li:nth-last-child(1) a {
    border-bottom: 1px solid #e6e6e6;
}

.utility-toolbar li a:hover, .utility-toolbar li a.active {
    color: #000;
    background-color: #efefef;
    text-decoration: none;
}

a.report {
    background: url(../images/icon_report.png) center no-repeat;
}

a.print {
    background: url(../images/icon_print.png) center no-repeat;
}

a.tags {
    background: url(../images/icon_tag.png) center no-repeat;
}

a.fb {
    background: url(../images/icon_fb.png) center no-repeat;
}

a.tw {
    background: url(../images/icon_tw.png) center no-repeat;
}

a.share-big {
    display: inline-block;
    margin: 17px 0 0 15px;
}

.section-panel {
    margin: 0 0 10px;
}

.section {
    padding: 20px 35px;
    background: #F8FFEF;
    border-bottom: 1px solid #eceaea;
}

.section-left, .section-right {
    width: 395px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 10px;
}

.section-right {
    text-align: right;
}

.section-translation {
    padding: 20px 0 0;
    border-bottom: 1px solid #ededed;
    font-size: 15px;
    margin: 0 65px;
    text-align: justify;
    line-height: 20px;
}

.section-translation p {
    margin: 0 0 20px;
}

a.copy-link2 {
    display: inline-block;
    background: #8dc63f;
    padding: 10px 15px;
    font-weight: normal;
    color: #fff;
    border: 1px solid #81b53a;
    border-bottom: none;
}

a.copy-link2:hover {
    text-decoration: none;
}

.share-panel {
    float: right;
}

.share-panel a, .share-panel a:link, .share-panel a:visited {
    margin: 0 0 0 10px;
}

.footnote-explanation {
    border-top: 1px solid #ededed;
    padding: 25px 0 0;
}

.footnote-explanation li {
    float: left;
    border-right: 1px solid #c4c3c3;
    font-size: 16px;
    color: #b7b3ad;
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
    font-weight: normal;
}

.footnote-explanation li:last-child {
    border: none;
}

.footnote-explanation li a:hover, .footnote-explanation li.active a {
    color: #8dc63f;
    text-decoration: none;
}

.footnote-explanation p {
    margin: 10px 0 0;
    font-weight: normal;
    font-size: 14px;
    color: #6c6c6c;
}

.book-title-holder {
    position: inherit;
    margin-top: 50px;
}

.chapter-list td {
    padding: 5px 10px;
}

.print-only {
    display: none;
}

.authenticity, .references {
    color: #bfbfbf;
}

.modal-form {
    margin-top: 15px;
}

.modal-form label, .modal-form input, .modal-form select, .modal-form textarea {
    display: block;
    font-size: 12px;
}

.modal-form label {
    font-weight: bold;
}

.modal-form input, .modal-form select, .modal-form textarea {
    margin-bottom: 15px;
}

.modal-form input[type="text"], .modal-form textarea {
    padding: 5px;
    width: 98%;
}

img.article {
    margin: 10px;
    box-shadow: 0 0 5px #ccc;
}

#footer {
    height: 100px;
    background-color: rgb(120, 143, 148);
    padding: 20px 15px 20px 50px;
}

#footer p{
    color: #ccc;
    font-size: 12px;
    text-align: center;
}
#footer p a { color: #ddd; }
#footer p img{
    vertical-align: middle;
    width: 25px;
}
#copyright {
    margin-top: 55px;

}
#footer .link-box {
    float: left;
    width: 150px;
    border-left: 1px dotted #666;
    height: 100px;
    padding-left: 20px;
}

#footer h5 {
    font-size: 14px;
    color: darkslategrey;
    margin: 0px 0 5px;
}
#footer ul {
    list-style-position: outside;
}
#footer ul li {
    list-style: none;
    color: lightgray;
}
#footer ul li a{
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #eee;
    letter-spacing: .05em;
}