<div class="navbar hor-menu">

    <div class="navbar-inner">

        <ul class="nav navbar-nav">

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="{{ path('ihadis_book_list') }}">Books</a></li>
                <li><a href="{{ path('ihadis_admin_user_index') }}">Users</a></li>
            {% else %}
                <li><a href="{{ path('ihadis_dashboard') }}">Dashboard</a></li>
            {% endif %}

        </ul>

    </div>

</div>

<div class="navbar hor-menu pull-right">

    <div class="navbar-inner">

        <ul class="nav navbar-nav">
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a> </li>
        </ul>

    </div>

</div>