{% extends 'base.html.twig' %}

{% block container %}
<!-- BEGIN CONTAINER -->
<div class="page-container row-fluid">

    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">

                <div class="col-lg-12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        {% block title %}Full Width Page{% endblock %}
                    </h3>

                    {% block breadcrumb %}{% endblock %}

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">

                <div class="col-lg-12">
                    {% block body %} {% endblock %}
                </div>

            </div>
            <!-- END PAGE CONTENT-->

        </div>
        <!-- END PAGE CONTAINER-->

    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->
{% endblock %}