#hadith-fieldset-wrapper {
    margin-top: 10px;
}

.hadith-container {
    background-color: #eee;
    margin-bottom: 20px !important;
}

.hadith-container h4 {
    margin-top: 5px;
}

.hadith-container textarea {
    width: 99% !important;
}

.hadith-data {
    margin-bottom: 0 !important;
}

.hadith-data .form-item {
    margin: 15px 0 0 0;
}