{% extends 'ui2/layout.html.twig' %}

{% block content %}
    <div class="book_page">


    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="chapter_name_big margin0">
                    <div class="chapter">
                        <img alt="" src="img/masjid.png" class="pull-left"> <h2> সহিহ বুখারি </h2> <img alt="" src="img/masjid.png" class="pull-right">
                    </div>
                    <div class="chapter_text">
                        <p>সংকলকঃ ইমাম বুখারি (রহঃ)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="collection_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="collection2 margin0">

                        <h4>সহিহ বুখারি সম্পর্কে তথ্য</h4>

                        <div class="collection2_links">

                            <p class="book_info">ইসলামে হাদিস বা হাদিস শাস্ত্র বলা হয় সেই জ্ঞান সম্পর্কে যার সাহায্যে রাসুল্লাহ (সঃ) এর কথা, কাজ, অনুমোদন ইত্যাদি সম্পর্কে জ্ঞান লাভ করা যায়। মুহাদ্দিসগন হাদিসের বিশুদ্ধতা রক্ষার জন্য আপ্রান চেষ্টা ও সাধনা করেছেন। তারই প্রমান হচ্ছে ইমাম বুখারী (রহঃ) এই গ্রন্থ সহিহুল বুখারী। সহিহ বুখারি হচ্ছে সমস্ত হাদিস গ্রন্থের মধ্যে সবচাইতে বিশুদ্ধ হাদিস গ্রন্থ। সহিহ বুখারিতে ৭৫৬৩ টি হাদিস রয়েছে এবং এই সব গুলো হাদিসই সহিহ্&zwnj;।</p>


                        </div><!--End of collection_links-->
                    </div><!--End of Collection-->
                </div><!--End of md6-->


            </div>
        </div>
    </div>








    <div class="collection_area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="collection3">




                        <div class="panelw">
                            <div class="panel5">
                                <div style="border-bottom: none;" class="img">
                       <span data-container="body" title="" data-toggle="tooltip" class="clickable" data-original-title="এখানে ক্লিক করুন">

                    <img alt="" src="img/pdf2.png" class="coll1 pull-left"><h4>PDF ডাউনলোড</h4> <img style="position: relative;left: 45px;" alt="" src="img/download.png" class="">

                        </span>
                                </div>
                            </div>


                            <div style="padding: 0px;border-bottom: none;border-top-left-radius: 0;border-top-right-radius: 0;" class="panel-body">


                                <div class="collection_links">


                                    <div class="col-md-6">

                                        <table class="table table-hover table-bordered">

                                            <tbody class="table1">
                                                <tr>
                                                    <td><a href="">Part 1</a></td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 2</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 3</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 4</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="col-md-6">

                                        <table class="table table-hover table-bordered">

                                            <tbody class="table1">
                                                <tr>
                                                    <td><a href="">Part 1</a></td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 2</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 3</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Part 4</td>
                                                    <td class="text-center"><a href="">Download Link</a></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div><!--End of collection_links-->
                            </div>
                        </div>


                    </div><!--End of Collection-->
                </div><!--End of md6-->
            </div>
        </div>
    </div>







    <div class="container">

        <div class="row">

            <div class="col-md-12 ddc">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chapters</h3>
                        <div class="pull-right">
							<span data-container="body" title="" data-toggle="tooltip" class="clickable filter" data-original-title="Search in Chpaters">
								<i class="glyphicon glyphicon-search"></i>
							</span>
                        </div>
                    </div>
                    <div class="panel-body" style="display: block;">
                        <input type="text" placeholder="অধ্যায় খুঁজুন" data-filters="#task-table" data-action="filter" id="task-table-filter" class="form-control form">
                    </div>
                    <table id="task-table" class="table table-hover table-bordered">
                        <thead style="border-bottom: 1px solid #ddd">
                            <tr>
                                <th>#</th>
                                <th style="width:60%">অধ্যায়ের নাম</th>
                                <th class="text-center">হাদিস নাম্বার</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>১</td>
                                <td><a href="">ওহীর সূচনা অধ্যায়</a></td>
                                <td class="text-center">১ - ৭</td>

                            </tr>
                            <tr>
                                <td>২</td>
                                <td>ঈমান</td>
                                <td class="text-center">৮ - ৫৮</td>

                            </tr>
                            <tr>
                                <td>৩</td>
                                <td>ইল্&zwnj;ম</td>
                                <td class="text-center">৫৯ - ১৩৪</td>

                            </tr>
                            <tr>
                                <td>৪</td>
                                <td>ওজু</td>
                                <td class="text-center">১৩৫ - ২৪৭</td>

                            </tr>
                            <tr>
                                <td>৫</td>
                                <td>পথে আটকে পড়া ও ইহ্&zwnj;রাম অবস্থায় শিকারকারীর বিধান</td>
                                <td class="text-center">১০৮০ - ১১১৯</td>

                            </tr>
                            <tr>
                                <td>৬</td>
                                <td>বৃষ্টির জন্য দোয়া</td>
                                <td class="text-center">১০০৫ - ১০৩৯</td>

                            </tr>
                            <tr>
                                <td>৭</td>
                                <td>কুরআন তিলাওয়াতের সিজ্&zwnj;দা</td>
                                <td class="text-center">১০৬৭ - ১০৭৯</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    </div>
{% endblock content %}