<div class="left-navigations">
    Chapters
    <div class="nav-arrow fr"></div>
    <div class="clr"></div>
</div>

<div class="left-navigations">
    Translation
    <div class="clr"></div>
</div>

<div class="translation-panel">
    <ul>
        <li><a href="#">English</a></li>
        <li class="active"><a href="#">Bangla</a></li>
    </ul>
    <div class="clr"></div>
</div>

<div class="left-navigations">
    Authenticity
    <div class="nav-arrow-active fr"></div>
    <div class="clr"></div>
</div>

<div class="left-nav-details">
    <ul>
        <li class="selected">Sahih (573)</li>
        <li>Hasan (3145)</li>
        <li>Musnad (2922)</li>
        <li>Dai'f (44)</li>
    </ul>
</div>

<div class="navigation">
    Navigation
</div>

<div class="left-navigations">
    Bukhari
    <div class="nav-arrow-active fr"></div>
    <div class="clr"></div>
</div>

<div class="left-navigations">
    Volume
    <div class="nav-arrow-active fr"></div>
    <div class="clr"></div>
</div>

<div class="hadith-search-panel">
    <div class="hadith-search">
        Hadith
        <div class="arrow-up fr"></div>
        <form action="" method="get">
            <input name="" type="text" class="text-search" placeholder="Hadith no."/>
            <input name="" type="button" class="button" value="Go"/>
        </form>
    </div>

    <div class="clr"></div>
</div>