<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>iHadith.com</title>

    <link href="{{ asset('bundles/ihadiscore/css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/ihadiscore/css/styles-responsive.css') }}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/html5.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
<section class="center">
<div class="top">
    <div class="logo null"><a href="/"><img src="/images/logo.png" /></a></div>

    <nav>
        <ul>
            <li><a href="#">Search</a></li>
            <li class="active"><a href="#">Hadith Books</a></li>
            <li><a href="#">Quran</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </nav>

    <div class="signup">
        <ul>
            <li><a href="#">Sign up</a></li>
            <li>|</li>
            <li><a href="#">Log in</a></li>
        </ul>
        <a class="user fr" href="#"><img src="images/user.png" /></a>
    </div>
    <div class="clr"></div>
</div>

<div class="left-panel">
    <div class="left-navigations">
        Chapters
        <div class="nav-arrow fr"></div>

        <div class="clr"></div>
    </div>

    <div class="left-navigations">
        Translation

        <div class="clr"></div>
    </div>

    <div class="translation-panel">
        <ul>
            <li><a href="#">Arabic</a></li>
            <li><a href="#">English</a></li>
            <li class="active"><a href="#">Bn</a></li>
        </ul>

        <div class="clr"></div>
    </div>

    <div class="left-navigations">
        Authenticity

        <div class="nav-arrow-active fr"></div>

        <div class="clr"></div>
    </div>

    <div class="left-nav-details">
        <ul>
            <li class="selected">Sahih (573)</li>
            <li>Hasan (3145)</li>
            <li class="selected">Musnad (2922)</li>
            <li>Dai'f (44)</li>
        </ul>
    </div>

    <div class="navigation">
        Navigation
    </div>

    <div class="left-navigations">
        Bukhari
        <div class="nav-arrow-active fr"></div>

        <div class="clr"></div>
    </div>

    <div class="left-navigations">
        Volume
        <div class="nav-arrow-active fr"></div>

        <div class="clr"></div>
    </div>

    <div class="hadith-search-panel">
        <div class="hadith-search">
            Hadith
            <div class="arrow-up fr"></div>

            <form action="" method="get">
                <input name="" type="text" class="text-search" placeholder="Hadith no." />
                <input name="" type="button" class="button" value="Go" />
            </form>
        </div>

        <div class="clr"></div>
    </div>
</div>

<div class="right-panel">
<div class="second-nav-holder">
    <div class="fl title-holder">
        <h1>Bukhari Sharif</h1>

        <span>Bukhari</span>
        <span>Book 1</span>
        <span>Vol 4</span>
        <span>Section 2</span>
        <span>H (1449 - 1470)</span>
    </div>

    <div class="other-nav">
        <ul>
            <li class="books-active"><a href="#">Books</a></li>
            <li class="bukhari"><a href="#">Bukhari Sharif</a></li>
            <li class="volume"><a href="#">Volume 4</a></li>
            <li class="search"><a href="#">Search</a></li>
        </ul>

    </div>

    <div class="clr"></div>
</div>

<div class="surah-holder-main">
    <div class="surah-holder fl">
        <div class="surah-top">
            <div class="surah-number">
                137
            </div>

            <div class="references">
                <p>
                    <span>Reference :</span><strong>Sahih al-Bukhari 1</strong>
                </p>
                <p>
                    <span>In-book Reference :</span><strong>Book 1, Hadith 1</strong>
                </p>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="translation fl">
                <ul>
                    <li><a href="#">En</a></li>
                    <li><a href="#">Bn</a></li>
                </ul>
            </div>

            <div class="surah fr">
                <p>
                    Narrated <span>Abu Huraira:</span>
                </p>

                I heard Allah's Messenger (PBUH) saying, "The reward of deeds depends upon the intentions and every person will get the reward according to what he has intended. So whoever emigrated for worldly benefits or for a woman to marry, his emigration was for what he emigrated for."
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="surah-holder fr">
        <div class="surah-top2">
            <a class="fr" href="#"><img src="images/edit.png" /></a>

            <div class="int-no fr">
                <img src="images/int_no.png" /><br />
                Intl No
            </div>

            <div class="surah-no2 fr">
                137
            </div>

            <div class="authenticity fr">
                <p>Authenticity Status</p>
                <span>Scholar Review <img src="images/green_tick.png" /></span> &nbsp;&nbsp;
                <span>Scholar Review <img src="images/green_tick.png" /></span>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="surah fl">
                <p class="fr">
                    Narrated <span>Abu Huraira:</span>
                </p>

                <div class="clr"></div>

                حَدَّثَنَا الْحُمَيْدِيُّ عَبْدُ اللَّهِ بْنُ الزُّبَيْرِ، قَالَ حَدَّثَنَا سُفْيَانُ، قَالَ حَدَّثَنَا يَحْيَى بْنُ سَعِيدٍ الأَنْصَارِيُّ، قَالَ أَخْبَرَنِي مُحَمَّدُ بْنُ إِبْرَاهِيمَ التَّيْمِيُّ، أَنَّهُ سَمِعَ عَلْقَمَةَ بْنَ وَقَّاصٍ اللَّيْثِيَّ، يَقُولُ سَمِعْتُ عُمَرَ بْنَ الْخَطَّابِ ـ رضى الله عنه ـ عَلَى الْمِنْبَرِ قَالَ سَمِعْتُ رَسُولَ اللَّهِ صلى الله عليه وسلم يَقُولُ ‏ "‏ إِنَّمَا الأَعْمَالُ بِالنِّيَّاتِ، وَإِنَّمَا لِكُلِّ امْرِئٍ مَا نَوَى، فَمَنْ كَانَتْ هِجْرَتُهُ إِلَى دُنْيَا يُصِيبُهَا أَوْ إِلَى امْرَأَةٍ يَنْكِحُهَا فَهِجْرَتُهُ إِلَى مَا هَاجَرَ إِلَيْهِ ‏"‏‏.‏
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="clr"></div>

    <div class="surah-bottom-panel">
        <a class="copy-link fl" href="#">Copy Link</a>

        <div class="bottom-links fl">
            <a class="tags" href="#">Tags</a>
            <a class="footnote" href="#">Footnote</a>
            <a class="report" href="#">Report</a>
            <a class="print" href="#">Print</a>
        </div>

        <a class="share fr" href="#">Share</a>

        <div class="clr"></div>
    </div>

    <div class="clr"></div>
</div>

<div class="surah-holder-main">
    <div class="surah-holder fl">
        <div class="surah-top">
            <div class="surah-number">
                137
            </div>

            <div class="references">
                <p>
                    <span>Reference :</span><strong>Sahih al-Bukhari 1</strong>
                </p>
                <p>
                    <span>In-book Reference :</span><strong>Book 1, Hadith 1</strong>
                </p>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="surah fr">
                <p>
                    Narrated <span>Abu Huraira:</span>
                </p>

                Ibn 'Abbas in the explanation of the statement of Allah "Move not your tongue concerning (the Quran) to make haste therewith." (75.16) said "Allah's Messenger (PBUH) used to bear the revelation with great trouble and used to move his lips (quickly) with the Inspiration." Ibn 'Abbas moved his lips saying, "I am moving my lips in front of you as Allah's Messenger (PBUH) used to move his." Said moved his lips saying: "I am moving my lips, as I saw Ibn 'Abbas moving his." Ibn 'Abbas added, "So Allah revealed 'Move not your tongue concerning (the Qur'an) to make haste therewith. It is for Us to collect it and to give you (O Muhammad) the ability to recite it (the Quran)' (75.16-17) which means that Allah will make him (the Prophet) remember the portion of the Qur'an which was revealed at that time by heart and recite it. The statement of Allah: 'And when we have recited it to you (O Muhammad through Gabriel) then you follow its (Quran) recital' (75.18) means 'listen to it and be silent.' Then it is for Us (Allah) to make it clear to you' (75.19) means 'Then it is (for Allah) to make you recite it (and its meaning will be clear by itself through your tongue). Afterwards, Allah's Messenger (PBUH) used to listen to Gabriel whenever he came and after his departure he used to recite it as Gabriel had recited it."
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="surah-holder fr">
        <div class="surah-top2">
            <a class="share-big fr" href="#"><img src="images/share_big.png" /></a>

            <div class="int-no fr">
                <img src="images/int_no.png" /><br />
                Intl No
            </div>

            <div class="surah-no2 fr">
                137
            </div>

            <div class="authenticity fr">
                <p>Authenticity Status</p>
                <span>Scholar Review <img src="images/green_tick.png" /></span> &nbsp;&nbsp;
                <span>Scholar Review <img src="images/green_tick.png" /></span>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="surah fl">
                <p class="fr">
                    Narrated <span>Abu Huraira:</span>
                </p>

                <div class="clr"></div>

                حَدَّثَنَا مُوسَى بْنُ إِسْمَاعِيلَ، قَالَ حَدَّثَنَا أَبُو عَوَانَةَ، قَالَ حَدَّثَنَا مُوسَى بْنُ أَبِي عَائِشَةَ، قَالَ حَدَّثَنَا سَعِيدُ بْنُ جُبَيْرٍ، عَنِ ابْنِ عَبَّاسٍ، فِي قَوْلِهِ تَعَالَى ‏{‏لاَ تُحَرِّكْ بِهِ لِسَانَكَ لِتَعْجَلَ بِهِ‏}‏ قَالَ كَانَ رَسُولُ اللَّهِ صلى الله عليه وسلم يُعَالِجُ مِنَ التَّنْزِيلِ شِدَّةً، وَكَانَ مِمَّا يُحَرِّكُ شَفَتَيْهِ ـ فَقَالَ ابْنُ عَبَّاسٍ فَأَنَا أُحَرِّكُهُمَا لَكُمْ كَمَا كَانَ رَسُولُ اللَّهِ صلى الله عليه وسلم يُحَرِّكُهُمَا‏.‏ وَقَالَ سَعِيدٌ أَنَا أُحَرِّكُهُمَا كَمَا رَأَيْتُ ابْنَ عَبَّاسٍ يُحَرِّكُهُمَا‏.‏ فَحَرَّكَ شَفَتَيْهِ ـ فَأَنْزَلَ اللَّهُ تَعَالَى ‏{‏لاَ تُحَرِّكْ بِهِ لِسَانَكَ لِتَعْجَلَ بِهِ* إِنَّ عَلَيْنَا جَمْعَهُ وَقُرْآنَهُ‏}‏ قَالَ جَمْعُهُ لَهُ فِي صَدْرِكَ، وَتَقْرَأَهُ ‏{‏فَإِذَا قَرَأْنَاهُ فَاتَّبِعْ قُرْآنَهُ‏}‏ قَالَ فَاسْتَمِعْ لَهُ وَأَنْصِتْ ‏{‏ثُمَّ إِنَّ عَلَيْنَا بَيَانَهُ‏}‏ ثُمَّ إِنَّ عَلَيْنَا أَنْ تَقْرَأَهُ‏.‏ فَكَانَ رَسُولُ اللَّهِ صلى الله عليه وسلم بَعْدَ ذَلِكَ إِذَا أَتَاهُ جِبْرِيلُ اسْتَمَعَ، فَإِذَا انْطَلَقَ جِبْرِيلُ قَرَأَهُ النَّبِيُّ صلى الله عليه وسلم كَمَا قَرَأَهُ‏.‏
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="clr"></div>

    <div class="surah-bottom-panel">
        <a class="copy-link fl" href="#">Copy Link</a>

        <div class="bottom-links fl">
            <a class="tags" href="#">Tags</a>
            <a class="footnote" href="#">Footnote</a>
            <a class="report" href="#">Report</a>
            <a class="print" href="#">Print</a>
        </div>

        <a class="share fr" href="#">Share</a>

        <div class="clr"></div>
    </div>

    <div class="clr"></div>
</div>

<div class="translation-panel">
    <div class="section">
        <div class="section-left fl">
            <h2>Section 1</h2>

            Chapter How the divine revelation started being <br />revealed to Allah's Messenger
        </div>

        <div class="section-right fr">
            <h2>القسم 1</h2>

            الفصل كيفية بدء الوحي الإلهي يجري كشف<br />
            لرسول الله
        </div>

        <div class="clr"></div>
    </div>

    <div class="section-translation">
        <p>
            আর মানুষ তার নিয়ত অনুযায়ী ফল পাবে. তাই যার হিজরত হবে . আর মানুষ তার নিয়ত অনুযায়ী ফল পাবে. তাই যার হিজরত হবে . আর মানুষ তার নিয়ত অনুযায়ী ফল পাবে. তাই যার হিজরত হবে
        </p>

        <p>
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

        </p>
    </div>
</div>

<div class="surah-holder-main">
    <div class="surah-holder fl">
        <div class="surah-top">
            <div class="surah-number">
                137
            </div>

            <div class="references">
                <p>
                    <span>Reference :</span><strong>Sahih al-Bukhari 1</strong>
                </p>
                <p>
                    <span>In-book Reference :</span><strong>Book 1, Hadith 1</strong>
                </p>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="translation fl">
                <ul>
                    <li><a href="#">En</a></li>
                    <li><a href="#">Bn</a></li>
                </ul>
            </div>

            <div class="surah fr">
                <p>
                    Narrated <span>Abu Huraira:</span>
                </p>

                I heard Allah's Messenger (PBUH) saying, "The reward of deeds depends upon the intentions and every person will get the reward according to what he has intended. So whoever emigrated for worldly benefits or for a woman to marry, his emigration was for what he emigrated for."
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="surah-holder fr">
        <div class="surah-top2">
            <a href="#" class="fr"><img src="images/edit.png"></a>

            <div class="int-no fr">
                <img src="images/int_no.png"><br>
                Intl No
            </div>

            <div class="surah-no2 fr">
                137
            </div>

            <div class="authenticity fr">
                <p>Authenticity Status</p>
                <span>Scholar Review <img src="images/green_tick.png"></span> &nbsp;&nbsp;
                <span>Scholar Review <img src="images/green_tick.png"></span>
            </div>

            <div class="clr"></div>
        </div>

        <div class="surah-bottom">
            <div class="surah fl">
                <p class="fr">
                    Narrated <span>Abu Huraira:</span>
                </p>

                <div class="clr"></div>

                حَدَّثَنَا الْحُمَيْدِيُّ عَبْدُ اللَّهِ بْنُ الزُّبَيْرِ، قَالَ حَدَّثَنَا سُفْيَانُ، قَالَ حَدَّثَنَا يَحْيَى بْنُ سَعِيدٍ الأَنْصَارِيُّ، قَالَ أَخْبَرَنِي مُحَمَّدُ بْنُ إِبْرَاهِيمَ التَّيْمِيُّ، أَنَّهُ سَمِعَ عَلْقَمَةَ بْنَ وَقَّاصٍ اللَّيْثِيَّ، يَقُولُ سَمِعْتُ عُمَرَ بْنَ الْخَطَّابِ ـ رضى الله عنه ـ عَلَى الْمِنْبَرِ قَالَ سَمِعْتُ رَسُولَ اللَّهِ صلى الله عليه وسلم يَقُولُ &rlm; "&rlm; إِنَّمَا الأَعْمَالُ بِالنِّيَّاتِ، وَإِنَّمَا لِكُلِّ امْرِئٍ مَا نَوَى، فَمَنْ كَانَتْ هِجْرَتُهُ إِلَى دُنْيَا يُصِيبُهَا أَوْ إِلَى امْرَأَةٍ يَنْكِحُهَا فَهِجْرَتُهُ إِلَى مَا هَاجَرَ إِلَيْهِ &rlm;"&rlm;&rlm;.&rlm;
            </div>

            <div class="clr"></div>
        </div>
    </div>

    <div class="clr"></div>

    <div class="surah-bottom-panel">
        <a href="#" class="copy-link2 fl"><img src="images/icon_copy_white.png" /> &nbsp;Copy Link</a>

        <div class="bottom-links fl">
            <a href="#" class="tags">Tags</a>
            <a href="#" class="footnote">Footnote</a>
            <a href="#" class="report">Report</a>
            <a href="#" class="print">Print</a>
        </div>

        <div class="share-panel">
            <a href=""><img src="images/icon_tw.png" /></a>
            <a href=""><img src="images/icon_fb.png" /></a>
            <a href=""><img src="images/icon_g+.png" /></a>
        </div>

        <div class="clr"></div>

        <div class="footnote-explanation">
            <ul>
                <li class="active"><a href="#">Footnote</a></li>
                <li><a href="#">Explanation</a></li>
            </ul>

            <div class="clr"></div>

            <p>
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>

        <div class="clr"></div>
    </div>

    <div class="clr"></div>
</div>
</div>

<div class="clr"></div>
</section>
</body>
</html>
