{% macro action() %}
<div class="col-lg-8 col-lg-offset-4">
    <button type="submit" class="btn green" formnovalidate>Save</button>
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">Cancel</a>
</div>
{% endmacro %}