{% macro action() %}
<div class="form-actions nobg" style="border: none; margin: 0">
    <button type="submit" class="btn green">Save</button>
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default">Cancel</a>
</div>
{% endmacro %}