<div class="left-navigations">
    Translation
    <div class="clr"></div>
</div>

<div class="translation-panel">
    <ul>
        <li class="{% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}active{% endif %}"><a data-id="en" href="#en">English</a></li>
        <li class="{% if app.request.cookies.has('lang') == false or app.request.cookies.get('lang') == 'bn' %}active{% endif %}"><a data-id="bn" class="bn" href="#bn">বাংলা </a></li>
    </ul>
    <div class="clr"></div>
</div>

<div class="left-navigations">
    Authenticity
    <div class="nav-arrow-active fr"></div>
    <div class="clr"></div>
</div>

<div class="left-nav-details">
    <ul class="authenticity-selector">
        <li class="{% if app.request.cookies.has('auth-sahih') == false or app.request.cookies.get('auth-sahih') == '1' %}selected{% endif %}"><a data-id="sahih" href="#sahih">Sahih</a></li>
        <li class="{% if app.request.cookies.has('auth-hasan') == false or app.request.cookies.get('auth-hasan') == '1' %}selected{% endif %}"><a data-id="hasan" href="#hasan">Hasan</a></li>
        <li class="{% if app.request.cookies.has('auth-daif') == false or app.request.cookies.get('auth-daif') == '1' %}selected{% endif %}"><a data-id="daif" href="#daif">Dai'f</a></li>
        <li class="{% if app.request.cookies.has('auth-maudu') == false or app.request.cookies.get('auth-maudu') == '1' %}selected{% endif %}"><a data-id="maudu" href="#maudu">Maudu</a></li>
    </ul>
</div>

<div class="left-navigations">
    Search by number
    <div class="clr"></div>
</div>

<div class="hadith-search-panel left-nav-details">
    <div class="hadith-search">
        <form action="" id="goto_form" method="get">
            <select name="goto_book">
                <option value="bukhari">Sahih bukhari</option>
            </select>
            <input name="goto_hadith" type="text" class="text-search" placeholder="Hadith no."/>
            <input name="" type="submit" class="button" value="Go"/>
        </form>
    </div>
    <div class="clr"></div>
</div>