<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}iHadis.com{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets
        "@IhadisWebBundle/Resources/public/css/styles.css"
        "@IhadisWebBundle/Resources/public/css/styles-responsive.css"
        "@IhadisWebBundle/Resources/public/css/bjqs.css"
        "@IhadisWebBundle/Resources/public/css/print.css"
        "@IhadisWebBundle/Resources/public/css/reveal.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <section class="center">

        <div class="top">

            <div class="logo null"><a href="/"><img src="/images/logo.png"/></a></div>

            <nav>
                <ul>
                    <li><a href="#">Search</a></li>
                    <li class="active"><a href="#">Hadith Books</a></li>
                    <li><a href="#">Quran</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </nav>

            <div class="signup">
                <ul>
                    <li><a href="#">Sign up</a></li>
                    <li>|</li>
                    <li><a href="#">Log in</a></li>
                </ul>
                <a class="user fr" href="#"><img src="/images/user.png"/></a>
            </div>

            <div class="clr"></div>

        </div>

        {% block body %}
            <div class="left-panel">

                {% block sidebar %}
                    {% include '@IhadisWeb/_sidebar.html.twig' %}
                {% endblock %}

            </div>

            <div class="right-panel">

                {% block content %}{% endblock %}

            </div>
        {% endblock %}

        <div class="clr"></div>

    </section>

    <div id="report-modal" class="reveal-modal large">

        <div class="modal-content">

            <h1>Report Hadith</h1>

            <form action="" method="post" id="report-hadith" class="modal-form">

                <label for="issue">What is the issue?</label>
                <select id="issue" name="issue">
                    <option value="spelling">There is a spelling mistake.</option>
                    <option value="authenticity">The authenticity is not correct.</option>
                    <option value="other">Other</option>
                </select>

                <label for="comments">Your comments:</label>
                <textarea id="comments" name="comments" rows="10" cols="83" placeholder="Enter your detailed comments on the issue."></textarea>

                <label for="email">Your email address:</label>
                <input id="email" name="email" type="text" placeholder="Enter your email address where we can reach you." />

                <input class="button" type="submit" value=" Submit " style="display: inline-block" />
                <span id="report-submit-progress" style="display: none;"> Sending...</span>

            </form>

        </div>

        <a class="close-reveal-modal">&#215;</a>

    </div>

    {% block javascripts %}

        <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.min.js"></script>
        <script src="/assets/plugins/excanvas.min.js"></script>
        <![endif]-->

        <!-- BEGIN GLOBAL JS -->
        {% javascripts
        "assets/plugins/jquery-1.10.2.min.js"
        "assets/plugins/jquery-migrate-1.2.1.min.js"
        "assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        "assets/plugins/bootstrap/js/bootstrap.min.js"
        "assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        "assets/plugins/jquery.blockui.min.js"
        "assets/plugins/jquery.cookie.min.js"
        "@IhadisWebBundle/Resources/public/js/ZeroClipboard.min.js"
        "@IhadisWebBundle/Resources/public/js/jquery.reveal.js"
        "@IhadisWebBundle/Resources/public/js/ihadis.js"
        "@IhadisWebBundle/Resources/public/js/bjqs-1.3.min.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- END GLOBAL JS -->

    {% endblock javascripts %}

    <script type="text/javascript">

        $(document).ready(function(){

            {% block documentReady %}
            IHadis.init();
            {% endblock documentReady %}

        });

    </script>

</body>
</html>