<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}iHadis.com{% endblock %}</title>

    {% block stylesheets %}

        {% stylesheets
        "@IhadisWebBundle/Resources/public/css/styles.css"
        "@IhadisWebBundle/Resources/public/css/styles-responsive.css"
        "@IhadisWebBundle/Resources/public/css/print.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <section class="center">

        <div class="top">

            <div class="logo null"><a href="/"><img src="/images/logo.png"/></a></div>

            <nav>
                {#<ul>
                    <li><a href="#">Home</a></li>
                    <li class="active"><a href="#">Hadith Books</a></li>
                    <li><a href="#">Quran</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>#}
            </nav>

            <div class="signup">
                <ul>
                    <li><a href="#">Sign up</a></li>
                    <li>|</li>
                    <li><a href="#">Log in</a></li>
                </ul>
                <a class="user fr" href="#"><img src="/images/user.png"/></a>
            </div>

            <div class="clr"></div>

        </div>

        <div class="main-body">

            <div class="left-panel">

                {% block sidebar %}
                    {% include '@IhadisWeb/_sidebar.html.twig' %}
                {% endblock %}

            </div>

            <div class="right-panel">

                {% block content %}{% endblock %}

            </div>

        </div>

        <div class="clr"></div>

    </section>

    {% block javascripts %}

        <!--[if lt IE 9]>
        <script src="/assets/plugins/respond.min.js"></script>
        <script src="/assets/plugins/excanvas.min.js"></script>
        <![endif]-->

        <!-- BEGIN GLOBAL JS -->
        {% javascripts
        "assets/plugins/jquery-1.10.2.min.js"
        "assets/plugins/jquery-migrate-1.2.1.min.js"
        "assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js"
        "assets/plugins/bootstrap/js/bootstrap.min.js"
        "assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        "assets/plugins/jquery.blockui.min.js"
        "assets/plugins/jquery.cookie.min.js"
        "@IhadisWebBundle/Resources/public/js/ZeroClipboard.min.js"
        "@IhadisWebBundle/Resources/public/js/ihadis.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- END GLOBAL JS -->

    {% endblock javascripts %}

    <script type="text/javascript">

        $(document).ready(function(){

            {% block documentReady %}
            IHadis.init();
            {% endblock documentReady %}

        });

    </script>

</body>
</html>