/* Hadith Input Form */

.form-item label {
    font-weight: bold;
}

.twelve input {
    width: 680px;
}

.show-hide > .form-item {
    display: none;
}

.show-hide a {
    font-weight: bold;
}

.tag-input {
    width: 675px;
}

.last-saved-hadith {
    font-weight: bold;
    color: #000000;
}

/* Hadith View Template */

.post-description {
    margin: 10px 0;
}

.section-container {
    margin: 10px 0 40px;
}

.section {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px !important;
}

.additional-text {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px !important;
}

.hadith-body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 32px;
    text-align: justify;
    margin: 20px 0 !important;
    padding: 15px;
    background-color: #e8e1d9;
}

.tab-content {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.hadith-teaser {
    margin: 10px 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

p.footnote {
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
}

/* Chapters View */

.book-chapter {
    cursor: pointer;
    border: 1px solid #dedede;
    outline: none;
    font: 12px Arial, sans-serif;
    color: #888;
    margin: 10px 0;
    display: block;
    background: #fbfbfb;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.book-chapter a {
    display: block;
    color: #888;
    outline: none;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: bold;
}

.book-chapter a:hover {
    color: #404040;
}