/* Theme Overrides */

div#logo {
    margin: 0 auto;
    width: 150px;
}

#header {
    min-height: inherit;
}


/* Hadith Input Form */

.form-item label {
    font-weight: bold;
}

.twelve input {
    width: 680px;
}

.show-hide > .form-item {
    display: none;
}

.show-hide a {
    font-weight: bold;
}

.tag-input {
    width: 675px;
}

.last-saved-hadith {
    font-weight: bold;
    color: #000000;
}

/* Hadith View Template */

.post-description {
    margin: 10px 0;
}

.section-container {
    margin: 10px 0 40px;
}

.section {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px !important;
}

.additional-text {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px !important;
}

.hadith-body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 32px;
    text-align: justify;
    margin: 20px 0 !important;
    padding: 15px;
    background-color: #e8e1d9;
}

.tab-content {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.hadith-teaser {
    margin: 10px 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

p.footnote {
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
    font-style: italic;
}

/* Chapters View */

.book-chapter {
    cursor: pointer;
    border: 1px solid #dedede;
    outline: none;
    font: 12px Arial, sans-serif;
    color: #888;
    margin: 10px 0;
    display: block;
    background: #fbfbfb;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.book-chapter a {
    display: block;
    color: #888;
    outline: none;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: bold;
}

.book-chapter a:hover {
    color: #404040;
}

/* Home page search box */

.twitter-typeahead {
    left: 11%;
    margin: 20px 0 50px;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 700px;
    height: 30px;
    padding: 8px 12px !important;
    font-size: 24px !important;
    line-height: 30px !important;
    border: 2px solid #ccc !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff !important;
}

.typeahead:focus {
    border: 2px solid #0097cf !important;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.tt-hint {
    color: #999 !important
}

.tt-dropdown-menu {
    width: 728px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

.tt-suggestion a, .tt-suggestion a:hover {
    color: #000;
}

.tt-suggestion {
    padding: 8px 20px;
}

.tt-suggestion + .tt-suggestion {
    border-top: 1px solid #ccc;
}

.repo-language {
    float: right;
    font-style: italic;
}

.repo-name {
    font-weight: bold;
}

.repo-description {
    font-size: 14px;
}