{% extends('IhadisWebBundle::layout.html.twig') %}

{% block title %}{{ parent() }} | Section Name ##Section-name {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    "@IhadisWebBundle/Resources/public/css/chapter-style.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock stylesheets %}

{% block body %}
    <div class="container main-body">
        <div class="row main1">

            <div class="col-md-3 test">
                <div class="side-header" style="background-color: #fff;height: 59px;padding: 0px 0px;">
                    <div class="select-area pull-left">All books</div>
                    <div class="select-box2 pull-right">
                        <select name="category" id="category" class="book-category2">
                            <option value="all">সহিহ বুখারি</option>
                            <option value="all">সহিহ মুসলিম</option>
                            <option value="all">মিশকাত</option>
                            <option value="all">আবু দাউদ</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3 fl test2">

                {% include '@IhadisWeb/partials/_sidebar_tabs.html.twig' %}

            </div><!--col 3-->

            <div class="col-md-9 col-xs-12 rl">

                <div class="list-header">
                    <h3>Sahih Bukhari
                        <span>(7586 hadiths)</span>
                    </h3>
                </div>


                <div class="hadith-list">

                    <table class="tg">
                        <tr>
                            <th class="tg-yw41">০১</th>
                            <th class="tg-yw42">ওহীর সূচনা অধ্যায়</th>
                            <th class="tg-yw43">১০০৫ - ১০৩৯</th>
                        </tr>
                    </table>

                    <div id="chapter">
                        <h3>১/১. অধ্যায়ঃ</h3>
                        <p>হারিস ইব্‌নু হিশাম (রাঃ) আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)- কে জিজ্ঞেস করলেন, ‘হে আল্লাহর রসূল! আপনার নিকট ওয়াহী কিরূপে আসে?’</p>
                    </div>
                    <div class="hadiths-list">
                        <div class="hadith">
                            <div class="row">
                                <div class="had">
                                    <h3>5746</h3>
                                    <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                    <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                </div>
                                <div class="social-lists">
                                    <ul>
                                        <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li><!--style="padding-left: 4px;"-->
                                        <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                        <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                        <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                        <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row hadith-footer">
                                <div class="col-md-6 sonod">হাদিসের মানঃ <a class="sahih" href="#">সহিহ হাদিস</a></div>
                                <div class="col-md-4 pull-right">
                                    <div class="export pull-right">
                                        <span class="pull-left"> | </span>
                                        <a href="#">সরাসরি</a>
                                    </div>
                                    <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                </div>
                            </div>
                        </div>




                        <div class="hadith">
                            <div class="row">
                                <div class="had">
                                    <h3>5746</h3>
                                    <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                    <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                </div>
                                <div class="social-lists">
                                    <ul>
                                        <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li>
                                        <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                        <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                        <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                        <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row hadith-footer">
                                <div class="col-md-6 sonod">হাদিসের মানঃ <a class="durbol" href="#">জাল হাদিস</a></div>
                                <div class="col-md-4 pull-right">
                                    <div class="export pull-right">
                                        <span class="pull-left"> | </span>
                                        <a href="#">সরাসরি</a>
                                    </div>
                                    <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                </div>
                            </div>
                        </div>




                        <div id="chapter">
                            <h3><i class="fa fa-file-text chapter-name"></i> ১/১. অধ্যায়ঃ</h3>
                            <p>আল্লাহ্‌র রসূল (সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম)- এর প্রতি কীভাবে ওয়াহী [১] শুরু হয়েছিল।</p>
                        </div>
                        <div class="hadiths-list">
                            <div class="hadith">
                                <div class="row">
                                    <div class="had">
                                        <h3>
                                            5746
                                        </h3>
                                        <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                        <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                    </div>
                                    <div class="social-lists">
                                        <ul>
                                            <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li>
                                            <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                            <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                            <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                            <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row hadith-footer">
                                    <div class="col-md-6 sonod">হাদিসের মানঃ <a class="sahih" href="#">সহিহ হাদিস</a></div>
                                    <div class="col-md-4 pull-right">
                                        <div class="export pull-right">
                                            <span class="pull-left"> | </span>
                                            <a href="#">সরাসরি</a>
                                        </div>
                                        <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="hadith">
                                <div class="row">
                                    <div class="had">
                                        <h3>5746</h3>
                                        <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                        <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                    </div>
                                    <div class="social-lists">
                                        <ul>
                                            <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li>
                                            <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                            <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                            <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                            <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row hadith-footer">
                                    <div class="col-md-6 sonod">হাদিসের মানঃ <a class="sahih" href="#">সহিহ হাদিস</a></div>
                                    <div class="col-md-4 pull-right">
                                        <div class="export pull-right">
                                            <span class="pull-left"> | </span>
                                            <a href="#">সরাসরি</a>
                                        </div>
                                        <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="hadith">
                                <div class="row">
                                    <div class="had">
                                        <h3>5746</h3>
                                        <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                        <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                    </div>
                                    <div class="social-lists">
                                        <ul>
                                            <li title="Edit"><i class="fa fa-pencil tool-icon"></i></li>
                                            <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                            <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                            <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                            <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row hadith-footer">
                                    <div class="col-md-6 sonod">হাদিসের মানঃ <a class="durbol" href="#">জাল হাদিস</a></div>
                                    <div class="col-md-4 pull-right">
                                        <div class="export pull-right">
                                            <span class="pull-left"> | </span>
                                            <a href="#">সরাসরি</a>
                                        </div>
                                        <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="hadith">
                                <div class="row">
                                    <div class="had">
                                        <h3>5746</h3>
                                        <p class="narrated-by">‘আলক্বামাহ ইব্‌নু ওয়াক্কাস আল-লায়সী (রহঃ) থেকে বর্ণিতঃ</p>
                                        <p class="hadith-des">আমি ‘উমর ইব্‌নুল খাত্তাব (রাঃ)-কে মিম্বারের উপর দাঁড়িয়ে বলতে শুনেছিঃ আমি আল্লাহর রসূল (সাল্লাল্লাহু ‘আলাইহি ওয়া সাল্লাম)-কে বলতে শুনেছিঃ কাজ (এর প্রাপ্য হবে) নিয়ত অনুযায়ী। আর মানুষ তার নিয়ত অনুযায়ী প্রতিফল পাবে। তাই যার হিজরত হবে ইহকাল লাভের অথবা কোন মহিলাকে বিবাহ করার উদ্দেশ্যে- তবে তার হিজরত সে উদ্দেশ্যেই হবে, যে জন্যে, সে হিজরত করেছে।</p>
                                    </div>
                                    <div class="social-lists">
                                        <ul>
                                            <li title="Edit"><i class="fa fa-pencil tool-icon tool-icon"></i></li>
                                            <li title="Report/Suggest"><i class="fa fa-envelope tool-icon"></i></li>
                                            <li title="Print View"><i class="fa fa-print tool-icon"></i></li>
                                            <li title="Share on Facebook"><i class="fa fa-facebook tool-icon"></i></li>
                                            <li title="Share On Twitter"><i class="fa fa-twitter tool-icon"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row hadith-footer">
                                    <div class="col-md-6 sonod">হাদিসের মানঃ <a class="durbol" href="#">জাল হাদিস</a></div>
                                    <div class="col-md-4 pull-right">
                                        <div class="export pull-right">
                                            <span class="pull-left"> | </span>
                                            <a href="#">সরাসরি</a>
                                        </div>
                                        <div class="note pull-right"><span><a href="#">ব্যাখ্যা </a></span></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block documentReady %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function () {


        });
    </script>
{% endblock documentReady %}