{% extends 'full_width.html.twig' %}
{% form_theme form '::partials/form.elements.html.twig' %}

{% block title %}Edit Chapter{% endblock %}

{% block body %}

    <div class="form form-horizontal">

        <div class="col-lg-6">

            {{ form_start(form, {'method': 'PUT', 'attr': {'id': 'chapter' }}) }}
            {{ form_widget(form) }}

            <div>
                <button type="submit" class="btn green" formnovalidate>Save</button>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block documentReady %}

    {{ parent() }}

{% endblock %}

