<div class="second-nav-holder book-title-holder" style="box-sizing: content-box;">

    <div class="fl title-holder" id="hadis-navbar" style="width: 50%">
        {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}
            <h1 style=" width: auto">{{ book.titleEnglish ? book.titleEnglish : book.title }}</h1>
        {% else %}
            <h1  style=" width: auto" class="bn">{{ book.title }}</h1>
        {% endif %}
    </div>

    <div class="other-nav"  style="width: 50%">
        <h1 style="margin-top: 10px;" dir="rtl">{{ book.titleArabic }}</h1>
    </div>

    <div class="clr"></div>

</div>