<div class="second-nav-holder">

    <div class="fl title-holder">

        {% if app.request.cookies.has('lang') and app.request.cookies.get('lang') == 'en' %}
            <h1>{{ book.titleEnglish }}</h1>
            <span>{{ chapter.titleEnglish }}</span>
        {% else %}
            <h1 class="bn">{{ book.title }}</h1>
            <span class="bn">{{ chapter.title }}</span>
        {% endif %}

    </div>

    <div class="other-nav">
        <ul style="margin-top: 10px;">
            <li class="search"><a href="#">Search</a></li>
        </ul>

    </div>

    <div class="clr"></div>

</div>