<div class="second-nav-holder">

    <div class="fl title-holder">
        <h1 class="bn">{{ book.title }}</h1>
        <span class="bn">{{ chapter.title }}</span>
    </div>

    <div class="other-nav">
        <ul>
            <li class="books-active"><a href="#">Books</a></li>
            <li class="bukhari"><a href="#">Bukhari Sharif</a></li>
            <li class="volume"><a href="#">Volume 4</a></li>
            <li class="search"><a href="#">Search</a></li>
        </ul>

    </div>

    <div class="clr"></div>

</div>