{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %} {{ parent() }} - {{ book.title }} | {{ chapter.title }} {% endblock %}

{% block content %}

    {% include '@IhadisWeb/Default/_secondaryNav.html.twig' %}

    <div class="section-container">
    {% for section in sections %}

        {% include '@IhadisWeb/Default/_sectionHeader.html.twig' with {'section': section} %}

        {% set hadiths = hadithRepo.getBySectionId(section.id) %}
        {% for hadith in hadiths %}

            {% include '@IhadisWeb/Default/_hadith.html.twig' with {'hadith': hadith, 'book': book, 'chapter': chapter} %}

        {% endfor %}

    {% endfor %}
    </div>

    <script type="text/javascript">var chapterUrl = '{{ path('ihadis_public_chapter', {'slug': book.slug, 'number': '100'}) }}';</script>

{% endblock %}