{% extends '@IhadisWeb/layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets
    "@IhadisWebBundle/Resources/public/css/home.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="home">

        <div id="home-logo">
            <img src="/images/logo-big.png" />
        </div>
        <div id="home-search">
            <form>
                <input type="text" name="q" placeholder="Search by Keywords / Tags" tabindex="0"/>
                <a href="javascript:;"><img src="/images/magnify.png" /></a>
            </form>
        </div>
        <div id="booklist">
            <h2>Hadith Collection</h2>
            <p>
                A random Hadith - The solution is to apply your background to an inner element or maybe your design will work with background-attachment:fixed instead.
            </p>

            <div id="all-books">
                <ul class="bjqs">
                    <li>
                        <ul>
                            <li>
                                <a href="{{ path('ihadis_public_book', {'slug': 'bukhari'}) }}">
                                    <img src="/images/cover/sahih-bukhari.png">
                                    <span class="book-name">Sahih Bukhari</span>
                                    <span class="cover-intro">By Imam Bukhari</span>
                                </a>
                            </li>
                            <li>
                                <img src="/images/cover/sahih-muslim.png">
                                <span class="book-name">Sahih Muslim</span>
                                <span class="cover-intro">By Imam Muslim</span>
                            </li>
                            <li>
                                <img src="/images/cover/tirmidhi.png">
                                <span class="book-name">At-Tirmidi</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                            <li>
                                <img src="/images/cover/musnade-ahmad.png">
                                <span class="book-name">Musnade Ahmad</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                            <li>
                                <img src="/images/cover/abu-daud.png">
                                <span class="book-name">Abu Daud</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                            <li>
                                <img src="/images/cover/nasai.png">
                                <span class="book-name">Nasai'i</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <img src="/images/cover/bulugul-maram.png">
                                <span class="book-name">Bulugul Maram</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                            <li>
                                <img src="/images/cover/riadus-salehin.png">
                                <span class="book-name">Riadus-Salehin</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                            <li>
                                <img src="/images/cover/muatta-imam-malik.png">
                                <span class="book-name">Riadus-Salehin</span>
                                <span class="cover-intro">98 Chapters</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="#">Updates</a></li>
            <li><a href="#">Join with us</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>

{% endblock %}
{% block documentReady %}
    $('#all-books').bjqs({
        'height' : 400,
        'width' : 540,
        'responsive' : false,
        'animtype': 'slide',
        'automatic': false,
        'nexttext' : "&rsaquo;",
        'prevtext' : "&lsaquo;",
        'showmarkers': false
    });
{% endblock documentReady %}
