{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}About iHadis{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="second-nav-holder">

            <div class="fl title-holder">

                <h1 class="bn">আমাদের সম্পর্কে </h1>
                <span class="bn">iHadis কি, কেন, কিভাবে... </span>

            </div>

            <div class="clr"></div>
        </div>
        <div class="clr"></div><br />


        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>
        <p>এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।</p>


    </div>
{% endblock %}
