{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}About iHadis{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="second-nav-holder">

            <div class="fl title-holder">

                <h1 class="bn">আমাদের সম্পর্কে </h1>
                <span class="bn">iHadis কি, কেন, কিভাবে... </span>

            </div>

            <div class="clr"></div>
        </div>
        <div class="clr"></div><br />
        <p class="bn">আসসালামু আলাইকুম, <br>
            সর্বপ্রথম আল্লাহ্ রাব্বুল আলামীনের প্রতি প্রশংসা ও কৃতজ্ঞতা জ্ঞাপন করছি, যিনি ব্যতীত সত্যিকারের কোন ইলাহ নাই। অসংখ্য দরূদ ও সালাম নাযিল হোক প্রিয় নবী মুহাম্মাদুর রাসূলুল্লাহ (সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম)-এর উপর।</p>
        <p class="bn">অনলাইনে বাংলা ভাষায় প্রকাশিত প্রতিটি হাদীসগ্রন্থ সকলের জন্য সহজলভ্য করাটাই হচ্ছে আমাদের উদ্দেশ্য। এজন্য আমরা আরবি ও বাংলা হাদীসের একটা পূর্ণাংগ ডাটাবেজ তৈরি করার জন্য কাজ করে চলেছি। এরই ধারাবাহিকতায় এ পর্যন্ত বহু হাদীসগ্রন্থ আমরা টাইপ করেছি।এবং প্রতিনিয়ত আমাদের লিস্টে আরও বই যোগ হচ্ছে, যেগুলো আমরা টাইপ করার পরিকল্পনা নিয়েছি। এই দীর্ঘ পথচলায় অসংখ্য দ্বীনি ভাই ও বোন আমাদেরকে নানাভাবে সহযোগিতা করেছেন এবং প্রতিনিয়ত করে যাচ্ছেন। আল্লাহ্‌ তায়ালা তাদের সকলকে জাযায়ে খায়ের দান করুন, এই দোয়া করি। ফেসবুকে একটি গ্রুপের মাধ্যমে আমরা আমাদের এই প্রকল্পের অধিকাংশ কাজ পরিচালনা করে আসছি। এছাড়াও কখনো স্কাইপে কনফারেন্সের মাধ্যমে, কখনো ভিডিও টিউটোরিয়াল এর মাধ্যমে, কখনোবা টেলিফোনে আলোচনা করে, আবার কখনো সরাসরি সাক্ষাত করে আমরা আমাদের পারস্পরিক যোগাযোগ ও প্রকল্পের সমন্বয় সাধন করে থাকি। বর্তমানে হাদীস প্রজেক্টের জন্য একটি পূর্ণাংগ ওয়েবসাইট ও একটি সফটওয়্যার বানানোর জন্য জোর চেষ্টা চালানো হচ্ছে। আমরা বিশ্বাস করি, এর ফলে আমাদের সামনে এক বিশাল সম্ভাবনার দ্বার উন্মোচিত হবে ইন-শা-আল্লাহ্‌।</p>
        <p class="bn">পরিশেষে, এই প্রকল্পটিকে সামনে এগিয়ে নিয়ে যেতে পারার জন্য "হাদীস প্রজেক্ট টিম" তার সকল সদস্য ও শুভানুধ্যায়ীর পক্ষ থেকে মহান আল্লাহ্‌র প্রতি অসংখ্য প্রশংসা ও কৃতজ্ঞতা জানাতে চায়। হে আমাদের রব, আমাদের এই সামান্য খেদমতটুকু কবুল করে নিন। আমাদের ভুলত্রুটি মার্জনা করুন। এবং প্রত্যেক মুসলিম ভাই ও বোনকে জান্নাতুল ফিরদাউস দান করুন এবং জাহান্নাম থেকে মুক্তি দিন। আমিন।</p>

    </div>
{% endblock %}
