{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}About iHadis{% endblock %}

{% block body %}
    <div class="main-panel static-page">
        <div class="second-nav-holder">

            <div class="fl title-holder">

                <h1 class="bn">আমাদের সম্পর্কে </h1>
                <span class="bn">iHadis কি, কেন, কিভাবে... </span>

            </div>

            <div class="clr"></div>
        </div>
        <div class="clr"></div><br />
        <p class="bn">আসসালামু আলাইকুম, <br>
            সর্বপ্রথম আল্লাহ্ রাব্বুল আলামীনের প্রতি প্রশংসা ও কৃতজ্ঞতা জ্ঞাপন করছি, যিনি ব্যতীত সত্যিকারের কোন ইলাহ নাই। অসংখ্য দরূদ ও সালাম নাযিল হোক প্রিয় নবী মুহাম্মাদুর রাসূলাল্লাহ (সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম)-এর উপর।
        </p>
        <p class="bn">অনলাইনে বাংলা ভাষায়  প্রকাশিত প্রত্যেকটি হাদীসগ্রন্থ  সকলের জন্য সহজলভ্য করাটাই আমাদের উদ্দ্যেশ্য।
            এজন্য আমরা আরবি ও বাংলা হাদীসের একটা পূর্ণাংগ ডাটাবেজ তৈরি করার জন্য কাজ করে চলেছি।
            এরই ধারাবাহিকতায় এই পর্যন্ত  বহু হাদিসগ্রন্থ আমরা টাইপ করেছি।
            এবং প্রতিনিয়ত আমাদের লিস্টে আরো বই যোগ হচ্ছে , যেগুলো আমরা টাইপ করার পরিকল্পনা নিয়েছি।
            এই দীর্ঘ পথচলায় অসংখ্য দ্বীনি ভাই ও বোন আমাদেরকে নানাভাবে সহযোগিতা করেছেন এবং প্রতিনিয়ত করে যাচ্ছেন।
            আল্লাহ্তায়ালা তাদের সকলকে জাযায়ে খায়ের দান করুন এই দোয়া করি।
        </p>
        <p class="bn"> ফেসবুকে একটি গ্রুপের মাধ্যমে আমরা আমাদের এই প্রকল্পের অধিকাংশ কাজ পরিচালনা করে আসছি।
            এছাড়াও কখনো স্কাইপে কনফারেন্সের মাধ্যমে,
            কখনোবা টেলিফোনে আলোচনা করে, আবার কখনো সরাসরি সাক্ষাত করে
            আমরা আমাদের পারস্পরিক যোগাযোগ ও প্রকল্পের সমন্বয় সাধন করে থাকি।
            বর্তমানে হাদীস প্রজেক্টের জন্য একটি পূর্ণাংগ ওয়েবসাইট
            ও একটি সফটওয়্যার বানানোর জন্য জোর চেষ্টা চালানো হচ্ছে।
            আমরা বিশ্বাস করি, এর ফলে আমাদের সামনে এক বিশাল সম্ভাবনার দ্বার উন্মোচিত হবে ইন-শা-আল্লাহ্।

        </p>
    </div>
{% endblock %}
