{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}IhadisWebBundle:StaticPages:disclaimer{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="second-nav-holder">

        <div class="fl title-holder">

            <h1 class="bn">দায়মুক্তির ছাড়পত্র</h1>
            <span class="bn">&nbsp;</span>

        </div>

        <div class="clr"></div>
    </div>
    <div class="clr"></div><br />


    <p>১) এই ওয়েবসাইটির বিশেষ মতাবলম্বী, রাজনৈতিক দল বা সংগঠনের আওতাভুক্ত নয়।
    <p>২) ihadis.com এ পাওয়া যাচ্ছে এমন কোন উপকরণের লেখক, বক্তা, প্রকাশক, সহযোগী প্রতিষ্ঠান/সংস্থা বা দলের সাথে ihadis.com এর কোন রকম চুক্তিবদ্ধতা /সংশ্লিষ্টতা নেই।এটি একটি স্বাধীন সাইট, প্রত্যক্ষ বা পরোক্ষ কোন লিঙ্কের মাধ্যমে কোন সংস্থা আমাদের পেইজ বা ওয়েবসাইট ব্যবহার করতে পারবেনা।
    <p>৩) এখানে প্রাপ্ত সকল উপকরণের মৌলিক উদ্দেশ্য জ্ঞান অর্জন। এখানে প্রকাশিত মতামত বা শেয়ারকৃত লিঙ্কের দৃষ্টিভঙ্গি সবসময় ihadis.com এর নিজস্ব মতামতের প্রতিফলন নাও হতে পারে।
    <p>৪) ihadis.com ওয়েবসাইটে পোস্ট করা ফ্যানদের সমস্ত কমেন্ট, লিঙ্ক, ছবি, ভিডিও ইত্যাদি (ইউজার কন্টেন্ট) এই ওয়েবসাইটের ও এর সাথে জড়িত এডমিনদের মতামত বা আদর্শের প্রকাশক নয়। কোন ইউজার কন্টেন্টের জন্য ihadis.com দায়ী নয়, এবং এতে প্রকাশিত কারও মতামত ihadis.com সত্যায়ন করে না।
    <p>৫) ihadis.com এ প্রকাশিত মতামত সম্পূর্ণভাবে সংশ্লিষ্ট পোষ্টের লেখকের আথবা বক্তার নিজস্ব দৃষ্টিভঙ্গি, যা শুধুমাত্র তথ্যজ্ঞাপক বা জ্ঞান অর্জনের উদ্দেশ্যে প্রকাশিত, অবৈধ উদ্দেশ্যে নয়। কারও উদ্দেশ্যমূলক, অসংযত অথবা অবহেলামূলক কার্যকলাপের জন্য এই ওয়েবসাইটের অ্যাডমিনরা দায়ী নয়।
    <p>৬) এ ওয়েব সাইটে প্রচারিত ও উপস্থাপিত বিষয়-বস্তুর শুদ্ধতার জন্য অক্লান্ত পরিশ্রম ও আপ্রাণ চেষ্টা করা হয়। তবুও আমরা এ দায়িত্ব নিতে পারি না, প্রচারিত সব বিষয়-বস্তুই ত্রুটিমুক্ত ও নির্ভুল।
    <p>৭) প্রচারিত জ্ঞান ও তথ্যের সূক্ষ্ণতা ও বিশুদ্ধতার ক্ষেত্রে ihadis.com কোনো আইনী দায়ভার গ্রহণ করে না।
    <p>৮) এ ওয়েব সাইট ব্যবহারের জন্য কোন শর্ত প্রযোজ্য নয়।
    <p>৯) এ ওয়েব সাইটে পরিবেশিত তথ্য ওয়েব সাইট স্বত্বাধিকার কিংবা পরিচালকের অভিমত হিসেবে বিবেচিত নয়। এবং এ ওয়েব সাইট ব্রাউজকারী পরিবেশিত তথ্যের উপর ভিত্তি করে যে সিদ্ধান্তে উপনীত হয়, তার দায়ভার সে নিজেই বহন করবে, সেটি ওয়েব সাইটের সাথে সম্পৃক্ত নয়।
    <p>১০) ihadis.com এর এডমিন- এ ওয়েব সাইটে পরিবেশিত জ্ঞান ও তথ্যকে যে কোন সময় পরিবর্তন ও সংশোধন করার সম্পূর্ণ অধিকার সংরক্ষণ করে। এবং পূর্ব ঘোষণা ব্যতীত যে কোন সময়ই ihadis.com তার টেকনিক্যাল পদ্ধতি পরিবর্তন করার ক্ষমতা রাখে।
    <p>১১) ihadis.com এডমিন অত্র ওয়েব সাইটে প্রচারিত স্পর্শকাতর বিষয়বস্তু হতে সৃষ্ট শান্তি ও নিরাপত্তা বিরোধী পরিস্থিতির জিম্মাদার নয়। এ ওয়েব সাইটের সাথে সম্পৃক্ত অন্য ওয়েব সাইট অথবা অন্য ওয়েব সাইটে প্রদত্ত বিষয়-বস্তুর সাথে এ ওয়েব সাইটে প্রদত্ত বিষয়-বস্তুর সম্পৃক্ততা এবং এর সাথে সম্পৃক্ত অন্য ওয়েব সাইটে প্রবেশ করার ব্যাপারে কোনো দায়-দায়িত্ব ihadis.com বহন করে না। তাতে প্রবেশ করবেন নিজ দায়িত্বেই। কারণ, সে সকল ওয়েব সাইট আমাদের দখলে নেই এবং তার বিষয়-বস্তু কিংবা ওয়েব সংক্রান্ত অন্যান্য প্রযুক্তিও আমাদের আয়ত্বে নেই। এবং এটাও মনে করা যাবে না যে, ihadis.com  এর সাথে সম্পৃক্ত অন্যান্য ওয়েব সাইটে উপস্থাপিত জ্ঞান ও তথ্যের ব্যাপারে ihadis.com একমত। ihadis.com সে সব ওয়েবের সন্ধান দিয়ে শুধু আপনার জ্ঞানের ভান্ডার সমৃদ্ধ করতে চায়। তাছাড়া সে সব ওয়েব সাইটে প্রদত্ত তথ্যের কোনো দায়-দায়িত্ব ihadis.com কখনও বহন করে না।
    <p>১২) ওয়েব সাইটে যে কোন ভুল-ত্রুটি থাকা নিতান্তই স্বাভাবিক| অবগত করার জন্য প্রত্যেক ব্রাউজকারীর প্রতি বিনীত অনুরোধ রইল।
    <p>১৩) আমাদের কতিপয় ব্রাউজার ও শুভানুধ্যায়ী কোন কোন সময় প্রচারের জন্য বিভিন্ন তথ্য-উপাত্ত্ব প্রেরণ করে থাকেন। আমরা তা গ্রহণ করি এই শর্তে যে, প্রেরিত তথ্য কারো স্বত্বাধিকারভুক্ত হতে পারবে না। অতএব, এ ধরণের কোনো তথ্য প্রচারিত হওয়ার পর যদি প্রমাণিত হয় যে, তথ্যটি অন্য কারো স্বত্বাধিকারভুক্ত ছিল, তবে তার জন্য ihadis.com দায়ী নয়। প্রচারিত তথ্যের ব্যাপারে কারো কোন আপত্তি থাকলে, তাকে আমাদের সাথে যোগাযোগের বিনীত অনুরোধ করছি।
    <p>১৪) এ দায়মুক্তির ছাড়পত্র প্রযোজ্য হবে ihadis.com ওয়েবসাইট, ফেসবুক গ্রুপ সহ সকল বিষয়াদি ও এর সাথে সম্পৃক্ত সকল এডমিন এবং আমাদের যারা সাহায্য করছেন তাদের জন্য।
    <p>বিশেষ নীতিমালা সর্বশেষ আপডেট করা হয়েছে ১৮/১/২০১৩ তারিখে।
     
    <h3>চুক্তিবদ্ধতা /সংশ্লিষ্টতা</h3>

    <p class="bn">ihadis.com ওয়েবসাইট বা অনুরুপ মাধ্যমের সাহায্যে পরিচালিত কোন রাজনৈতিক বা আদর্শবাদী আন্দোলনের সাথে জড়িত নয়। ফলশ্রুতিতে ihadis.com জড়িত এমন ওয়েবসাইটগুলো যদি ধর্মীয় উন্মোদনমূলক, সহিংস বা বিভ্রান্তিকর কোন মতামত প্রচার করে, তবে ihadis.com তা সমর্থন করবেনা।
    ihadis.com অত্যন্ত বিনয় এবং আন্তরিকতার সাথে আমাদের জন্য সহজলভ্য মিডিয়ার মাধ্যমে প্রকৃত ইসলাম এবং এর শিক্ষা- শান্তি, আত্মসমর্পণ এবং সর্বশক্তিমান আল্লাহর আনুগত্য মানুষের মাঝে তুলে ধরার চেষ্টা চালিয়ে যাচ্ছে। যে জীবন ব্যবস্থা মানুষকে শান্তির পথে আহবান করে, সেটি সর্ম্পকে মানুষের মাঝে যদি কোন ভ্রান্তিযুক্ত ধারণার লেশ মাত্র ও থেকে থাকে তবে তার অপনোদন ঘটানোই আমাদের আন্তরিক অভিপ্রায়।
    <b>এই সাইটে যদি কোন ধরণের কপিরাইট আইন লঙ্গনের বিষয় আপনার চোখে পড়ে তবে কোন ব্যবস্থা নেয়ার আগে অনুগ্রহ করে সর্বাগ্রে আমাদের সাথে যোগাযোগ করুন</b>, আমরা যত শীঘ্র সম্ভব বিষয়টি সমাধানের আপ্রাণ চেষ্টা চালাব।
    ধন্যবাদ।</p>
    <p>আল্লাহ আমাদের সবাইকে শান্তি ও সমৃদ্ধির দিকে পথ প্রদর্শন করুন। আমীন।</p>


</div>
{% endblock %}
