{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}Feedback and Discussion{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="second-nav-holder">

        <div class="fl title-holder">

            <h1 class="bn">আলোচনা - সমালোচনা </h1>
            <span class="bn">আপনাদের পরামর্শই আমাদের প্রেরনা </span>

        </div>

        <div class="clr"></div>
    </div>
    <div class="clr"></div>

    <p class="bn">
        আপনাদের যেকোন মন্তব্য, আলোচনা, সমালোচনা, ভালোলাগা, মন্দলাগা সব্কিছুই আমরা জানতে আগ্রহী।
        ইন-শা-আল্লাহ, আপনাদের যেকোন মতামত আমরা গুরুত্বসহকারে গ্রহন করবো।
        আপনাদের পরামর্শ সাইটের গ্রহনযোগ্যতা ও উপযোগিতা বাড়াতে  এবং ভুল-ত্রুটি যথাসম্ভব কমাতে সহায়ক হবে।
    </p>

    <p class="bn">
        আমাদের এবং অন্য পাঠক্দের সুবিধার্থে মন্তব্য করার সময় নিচের বিষয়গুলোর প্রতি লক্ষ্য রাখতে অনুরোধ করছি-
    </p>
    <ul>
        <li>১. প্রশ্ন/উত্তর/পোস্ট/কমেন্ট-এ অপমানজনক, অশ্লীল, কুরুচিপূর্ণ, উস্কানিমূলক, অশালীন বা আপত্তিকর শব্দ/বাক্য প্রকাশ করা যাবে না।</li>
        <li>২. কোন ব্যাক্তি/ব্লগ/ওয়েবসাইট/গোষ্ঠী/দল/প্রতিষ্ঠান বা ধর্ম কে হেয় বা ভাবমূর্তি নষ্ট করে এমন কিছু লেখা প্রকাশ করা যাবে না। লেখক/পাঠক একে অন্যকে সম্মান করে জবাব/মন্তব্য করতে হবে।</li>
        <li>৩. অপ্রাসঙ্গিক কিংবা মানহীন সাইটের লিঙ্ক বা পর্ণ ছবি/ভিডিও প্রকাশ করা যাবে না।</li>
        <li>৪. মিথ্যা, অপ্রাসঙ্গিক, অশ্লীল, অন্যের ক্ষতি করে বা কপিরাইট আইন ভঙ্গ করে এমন কিছু প্রকাশ করা যাবে না।</li>
        <li>৫. প্রশ্ন/উত্তর/পোস্ট/কমেন্ট মানসম্মত না হলে প্রকাশ না করা বা প্রকাশিত লেখা বাদ দেয়ার অধিকার, ইউজার ব্যান করার অধিকার ihadis.com কর্তৃপক্ষ সংরক্ষণ করে।</li>
    </ul>
    <br />

    <p>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'ihadis'; // required: replace example with your forum shortname
            var disqus_identifier = 'iHadis-feedback-page';
            var disqus_title = 'iHadis Discussion Board';
            var disqus_url = '{{ url('feedback') }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </p>
</div>
{% endblock %}
