{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}Feedback and Discussion{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="second-nav-holder">

        <div class="fl title-holder">

            <h1 class="bn">এই পেজের কাজ চলছে !</h1>
            <span class="bn"></span>

        </div>

        <div class="clr"></div>
    </div>
    <div class="clr"></div>

    <p class="bn">
        আমরা চেষ্টা করছি যথাসম্ভব দ্রুত শেষ করতে। দয়া করে  কয়েকদিন পর আবার চেষ্টা করুন।
    </p>

</div>
{% endblock %}
