{% extends '@IhadisWeb/layout.html.twig' %}

{% block title %}Join iHadis Team{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="second-nav-holder">

            <div class="fl title-holder">

                <h1 class="bn">আমাদের সাথে কাজে অংশ নিন</h1>
                <span class="bn">আমাদের বেশ কিছু ক্ষেত্রে সহায়তা দরকার</span>

            </div>

            <div class="clr"></div>
        </div>
        <div class="clr"></div>

        <p class="bn">
            প্রথমে আল্লাহ্‌র প্রশংসা বর্ণনা করছি, আলহামদুলিল্লাহ্‌।<br/>
            দুরুদ ও সালাম নাজিল হোক প্রিয় নবী হযরত মুহাম্মদ (সাল্লাল্লাহু আলাইহি ওয়াসাল্লাম) এর উপর।
        </p>
        <br />
        <p class="bn">আপনি জানেন যে এটি একটি সম্পুর্ণ সেচ্চাসেবাভিক্তিক উদ্যগ । আমরা বেশ অনেকজন মুসলিম ভাই-বোন আল্লাহর সন্তুষ্টি লাভের ইচ্ছায় এই প্রজেক্টের সাথে কাজ করে যাচ্ছি। কিন্তু দ্রুত শেষ করতে হলে আমাদের আরো বেশি লোকের অংশ্গ্রহন দরকার। আপনি যদি আমাদের সাথে কাজ করতে আগ্রহি হন তাহলে দেখুন কোন ক্যাটাগরিতে আপনি সাহায্য করতে পারবেন -</p>
        <p class="bn">
            <img src="/images/typing.jpeg" align="right" class="article" />
            ১. বাংলা টাইপ পারেন এমন ভাই/বোনঃ যাদের বাংলা টাইপ করতে পারেন, বিশেষ করে অভ্র দিয়ে বা বিজয় দিয়ে, তারা আমাদের গ্রুপে জয়েন করে কাজ নিন (নিচের ফেসবুক জয়েন আইকনে ক্লিক করুন), এই গ্রুপে আমরা সেচ্ছাশ্রম দিচ্ছি। গ্রুপে জয়েন করে গ্রুপের ওয়ালে “কাজ দিন” –এই কথা লিখে পোস্ট দিন। তারপর আমরা বলে দিব কিভাবে কি করতে হবে। আসলে এটা খুবই সহজ কাজ, আপনি কাজ চেয়ে পোস্ট করলে আমরা একটা pdf এর ডাউনলোড লিঙ্ক দিয়ে দিব, আর বলে দিব ঐ pdf থেকে নির্দিষ্ট ১০/২০ টা হাদিস লিখে দিতে। আমরা সবাই আসলে ইচ্ছে করলেই এমন একটা মহৎ কাজে অংশ নিতে পারি।
        </p>
        <p class="bn">আমরা যত ব্যস্তই হইনা কেন অন্তত দিনে ২০ মিনিট ইসলামের জন্য দিতেই পারি, এই সময়টা আপনার আখিরাতের জীবনের জন্য কতটা কাজে লাগবে আসুন দেখি-</p>
        <p class="bn">ধরেন আপনি ৪ দিনে ১০ টা হাদিস লেখলেন। এই হাদিস আমাদের ওয়েব সাইট ও সফটওয়্যারের মাধ্যমে কোটি কোটি ভাইয়ের কাছে পৌঁছে গেল। এখন ঐ কোটি কোটি ভাই বোনের মধ্যে ৫০ জন ভাই ঐ হাদিস গুলো শিখল তারপর তাদের বন্ধুদের , পরিবার ও বাচ্চাদের শেখাল। ঐ বাচ্চারা বড় হয়ে তাদের বাচ্চাদের...... এভাবে প্রজন্ম থেকে প্রজন্মে হাদিসের চর্চা চলতে থাকল আর আপনার ঐ কাজটাও মানুষের কাছে পৌছাতে থাকবে । এবার আল্লাহ্র রাসূল প্রিয় নবী মোহাম্মদ ( সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম) কি বলেছেন দেখুনঃ</p>
        <blockquote class="bn">কেউ হেদায়েতের দিকে আহবান করলে যতজন তার অনুসরণ করবে প্রত্যেকের সমান সওয়াবের অধিকারী সে হবে, তবে যারা অনুসরণ করেছে তাদের সওয়াবে কোন কমতি হবেনা" [সহীহ্ মুসলিম: ২৬৭৪]</blockquote>
        <p class="bn">চিন্তা করেন, একটু পরিশ্রমেই আপনি কত কত নেকীর অধিকারী হচ্ছেন। শুধু তাই না, আপনার মৃত্যুর পরেও এই সওাবের ধারা চলতেই থাকবে। দেখুন প্রমাণ-</p>
        <blockquote class="bn">হযরত আবু হুরায়রা (রাঃ) থেকে বর্ণিত। রাসূল (সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম) ইরশাদ করেছেন, "মানুষ যখন মারা যায়, তখন তার সকল আমলের পথ বন্ধ হয়ে যায়। তিনটি পথ ছাড়া। একটি হল সদকায়ে জারিয়া, দ্বিতীয় হল ঐ দ্বীনী কাজ যার দ্বারা মানুষ উপকৃত হয়, তৃতীয় হল নেক সন্তান যে তার জন্য দুআ করে।" [সুনানে আবু দাউদ, হাদীস নং-২৮৮২]</blockquote>
        <p class="bn">আমি অনুরোধ করবো আপনারা এই গ্রুপে যোগ দিয়ে কাজ শুরু করুন। যত বেশি স্বেচ্ছাসেবী কাজ করবেন, তত দ্রুত কাজ শেষ হবে। আমাদের অনেকেরই বিভিন্ন প্রয়োজনে হাদীস কোট করতে হয়, কিংবা জানার জন্যে সার্চ করতে হয়। ইউনিকোডে টাইপ করা হাদীস পাওয়াটা অনেক সহজই হয়ে যাবে যদি এই প্রজেক্ট সফল হয়। তাই সকলের সহযোগিতা একান্ত কাম্য।</p>
        <p  class="bn">
            <img src="/images/programmer.jpeg" align="right" class="article" />
            ২. টেকনিক্যাল কাজ পারেন এমন ভাই/বোনঃ দক্ষ ওয়েব সাইট ডেভলাপার (Php/Html5/css3/Jqury/Java etc.) , দক্ষ সফটওয়্যার ডেভলাপার (Pc, Andoird, Java, Web app,Windows phone),  ওয়েব ও ফটোশপ ডিজাইনার, SEO এক্সপার্ট ইত্যাদি বিভিন্ন টেকনিক্যাল কাজে যারা আমাদের সহায়তা করতে চান আমাদের সরাসরি মেইল করুন। মেইলে আপনার কাজের দক্ষতা কোন বিষয়ে সেটা উল্লেখ করবেন।
        </p>
        <p class="bn">সেইসব ভাইকে জাযাকাল্লাহ খায়র যারা পরিশ্রমকে পরিশ্রম মনে না করে আল্লাহ্‌র পথে নিজেকে নিয়োজিত করেছেন। হয়ত কেউ দেখছে না, কেউ নামও জানবে না আপনার, কিন্তু আপনার মালিক আল্লাহ্‌ ঠিকই দেখছেন, তিনি সবই জানেন, শুনেন, দেখেন। আমরা সিদ্ধান্ত নিয়েছি আমাদের এই কাজের পরিসর আরও বৃদ্ধি করব ইন শা আল্লাহ্‌। যত হাদিসের বই পাওয়া গেছে, সেগুলো টাইপ করব আমরা। আল্লাহ্‌ যদি সাহায্য করেন আর আপনাদের পাশে পেলে অনেক দূর যেতে চাই, রেখে যেতে চাই আমাদের ক্ষুদ্র কিছু ভাল কাজ, আল্লাহ্‌র সন্তুষ্টির জন্য আর মানুষের উপকারের জন্যে।</p>
        <p class="bn">আল্লাহ্‌ আমদের সবার ভাল কাজ গুলোকে গ্রহণ করুন, আমাদের গোনাহগুলোকে ক্ষমা করুন। আমাদের কাজকে সহজ করে দিন, আমিন, ইয়া রাব্বাল আ'লামিন। আসসালামু আলাইকুম ওয়া রাহমাতুল্লাহি ওয়া বারাকাতুহ্‌।</p>
        <blockquote class="bn">যে সৎকর্ম সম্পাদন করে এবং সে ঈমাণদার, পুরুষ হোক কিংবা নারী আমি তাকে পবিত্র জীবন দান করব এবং প্রতিদানে তাদেরকে তাদের উত্তম কাজের কারণে প্রাপ্য পুরষ্কার দেব যা তারা করত। (সূরা আন-নাহল- ৯৭)</blockquote>

    </div>
{% endblock %}